<nav>
    <ul class="ul-nav-logo">
        <li>
            <div class="logo-image">
                <a href="/">
                <img src="/assets/Icon Doctor.png" alt="Example Image" class="img-fluid">
                
                </a>
             </div>
        </li>
        <li>
            <div  class="mylogo">
                <a href="/">
                <p> EVENT TICKET </p>
                </a>
            </div>
        </li>
    </ul>
    <ul class="ul-nav">
        <li>
            <a href="/">Home</a>  
        </li>
        <li>
        <!-- per il momento ho mappato servizi in /servizi poi vedremo -->
            <a href="/servizi">Servizi</a>
        </li>
        <li>
            <a href="/team">Il team</a>
        </li>
        <li>
            <a href="/contatti">Contatti</a>
        </li>
        <li>
            <a href="/FAQ">FAQ</a>
        </li>  
        <li id="but">
            <a href="/auth/login">Login</a>
        </li>
    </ul>
    <button type="button"class="nav-mybutton" id="nav-mybutton" onclick="window.location.href='/auth/login'">login</button>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div> 
</nav> 