<%- include('./navbar'); %>


<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %> tu sei un user</p>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>



<%- include('./footer'); %>